h1::before {
  animation-name: translate;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes translate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(.5);
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}